{% extends 'base/base.html' %}
{% load productos_tags %}

{% block header %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Carri Sneakers</h1>
                <p class="lead fw-normal text-white-50 mb-0">Header de prueba</p>
            </div>
        </div>
    </header>
{% endblock header %}

{% block contenido %}
    <h3 class="text-center">Ultimas novedades</h3>
    {% comment "" %}
        TEMPLATE TAGS
        {% saludar %}
        {% saludar_con_nombre "Juan" %}

        FILTER TAGS
        {{user.firstname | ejemplo:"Sin nombre"}}
    {% endcomment %}
    
    {% comment %} <div class="row">
        {% for p in ult_productos %}
            <div class="col-sm-3">
                {% include 'productos/includes/card_producto.html' %}
            </div>
        {% empty %}
            <li>No existen productos</li>
        {% endfor %}
    </div> {% endcomment %}

    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for p in ult_productos %}
            <div class="col mb-5">
                {% include 'productos/includes/card_producto.html' %}
            </div>
        {% empty %}
            <li>No existen productos</li>
        {% endfor %}
    </div>
    
{% endblock contenido %}
