{% extends 'base/base.html' %}

{% block contenido %}
    <form method="GET" class="form-inline" style="margin-top: 10px;">
        <input class="form-control mr-sm-2" type="search" name="nombre_producto" value={{nombre_producto}}>
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
    <h3>Lista de productos</h3>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for p in page_obj %}
            <div class="col mb-5">
                {% include 'productos/includes/card_producto.html' %}
            </div>
        {% empty %}
            <li>No existen productos</li>
        {% endfor %}

    </div>

    {% include "productos/paginator.html" %}
    
{% endblock contenido %}
