<div class="pagination d-flex justify-content-center Page navigation example" >
    <ul class="step-links pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a></li>
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
        {% endif %}
    </ul>
</div>




