<div class="card">
    {% if p.imagen %}
        <img class="card-img-top" src="{{p.imagen.url}}" alt="Card image cap">
    {% else %}
        <img class="card-img-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARYAAAC1CAMAAACtbCCJAAAAA1BMVEWUlZnYhXhJAAAASElEQVR4nO3BAQ0AAADCoPdPbQ43oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIBjA8VDAAH+iSvZAAAAAElFTkSuQmCC" alt="Card image cap">
    {% endif %}
    
    <div class="card-body">
        <h5 class="card-title">{{p.nombre}}</h5>
        <p class="card-text">Aca va la descripcion</p>
        <p class="card-text">${{p.precio}}</p>
        <a href="#" class="btn btn-primary">Ver mas</a>
    </div>
</div>