<form>
    <div class="form-row" id="user-info">
        <div class="col">
            <input required class="form-control" type="text" name="name" placeholder="Name..">
        </div>
        <div class="col">
            <input required class="form-control" type="email" name="email" placeholder="Email..">
        </div>
    </div>
    
    <div id="shipping-info">
        <hr>
        <p>Shipping Information:</p>
        <hr>
        <div class="form-row">
            <div class="col form-field">
                <input class="form-control" type="text" name="address" placeholder="Address..">
            </div>
            <div class="col form-field">
                <input class="form-control" type="text" name="city" placeholder="City..">
            </div>
        </div>
        <div class="form-row">
            <div class="col form-field">
                <input class="form-control" type="text" name="state" placeholder="State..">
            </div>
            <div class="col form-field">
                <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
            </div>
        </div>
    </div>

    <hr>
    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
</form>
