{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}
	<div class="row">
		<div class="col-lg-12">
			<div class="container">
                <a  class="btn btn-outline-dark" href="{% url 'productos:listar' %}">&#x2190; Continuar comprando</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Productos: <strong>{{orden.get_cant_items}}</strong></h5></th>
						<th><h5>Total:<strong> ${{orden.get_total_carrito}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Comprar</a>
						</th>
					</tr>
				</table>
			</div>
			<br>
			<div class="container">
				<table class="table">
					<tr>
						<th></th>
						<th><h5>Producto</h5></th>
						<th><h5>Precio</h5></th>
						<th><h5>Cantidad</h5></th>
						<th><h5>Total</h5></th>
					</tr>
					{% for item in items %}
					<tr>
						<td><img class="row-image" height="100px" src="{{item.producto.imagen.url}}"></td>
						<td><p>{{item.producto.nombre}}</p></td>
						<td><p>{{item.producto.precio}}</p></td>
						<td>
							<div style="display:flex">
								{{item.cantidad}}
								<div class="quantity" style="display:flex; flex-direction:column; justify-content:space-between; margin-left: 5px">
									<img height="10px" class="update-carrito" data-producto="{{item.producto.id}}" data-action="add" src="https://stepswithcode.s3-us-west-2.amazonaws.com/m1-prt8/3+arrow-up.png">
							
									
									<a href="{% url 'orden:remove_item' pk=item.producto.id %}">
										<img data-producto="{{item.producto.id}}" data-action="remove" height="10px" class="update-carrito" src="https://stepswithcode.s3-us-west-2.amazonaws.com/m1-prt8/2+arrow-down.png">
									</a>
								</div>
							</div>
						</td>
						<td><p>{{item.get_total}}</p></td>
					</tr>
					{% endfor %}
				</table>				
			</div>
		</div>
	</div>
{% endblock contenido %}

