<nav class="w-100 d-flex px-4 py-2 mb-4 shadow-sm">
    <!-- close sidebar -->
    <div class="dropdown ml-auto nav-admin">
        <a class="dropdown-item text-secondary" href="{% url 'inicio' %}">
            <img src="https://www.freepnglogos.com/uploads/logo-home-png/home-transparent-home-images-10.png" width="25px">
        </a>
        <a class="dropdown-item text-secondary" href="{% url 'logout' %}">
            <img class="exit-icon" src="https://cdn-icons-png.flaticon.com/512/1250/1250678.png" width="25px">
        </a>
    </div>
</nav>